# Adapted from PickNikRobotics/roscpp_code_format
# Removed all lines that already coincide with Google style
# Less explicit, but more brief and maintainable
---
BasedOnStyle:  Google

# Google Style Guide is impartial, this is more consistent with PEP8
BreakBeforeBinaryOperators: NonAssignment

# Configure each individual brace in BraceWrapping
BreakBeforeBraces: Custom

# Control of individual brace wrapping cases
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum : true
  AfterFunction : true
  AfterNamespace : true
  AfterStruct : true
  AfterUnion : true
  BeforeCatch : true
  BeforeElse : true
  IndentBraces : false

# ROS calls for 120, Google for 80, we compromise
ColumnLimit:    100

ConstructorInitializerIndentWidth: 2

# Google tries to auto-detect, we always want left PointerAlignment
DerivePointerAlignment: false

PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 60
PenaltyBreakString: 100
PenaltyBreakFirstLessLess: 1000
PenaltyExcessCharacter: 1000
PenaltyReturnTypeOnItsOwnLine: 70
SpaceAfterControlStatementKeyword: true
SortIncludes: false
TabWidth:        2
...

