[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim-runtime"]
	path = vim-runtime
	url = git@github.com:MitchAllain/vimrc.git
[submodule "private"]
	path = private
	url = git@github.com:MitchAllain/dotfiles_private.git
