[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "private"]
	path = private
	url = git@github.com:MitchAllain/dotfiles_private.git
[submodule "anduril-private-dotfiles"]
	path = anduril-private-dotfiles
	url = git@ghe.anduril.dev:mallain/anduril-private-dotfiles.git
