# https://blog.victormendonca.com/2018/05/14/creating-a-simple-systemd-user-service/
[Unit]
Description=A debuginfod implementation that fetches debuginfo and sources from nix binary caches
After=nix-daemon.service
Wants=nix-daemon.service

[Service]
Type=simple
StandardOutput=journal
Environment="PATH=%h/.nix-profile/bin:/nix/var/nix/profiles/default/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=%h/.nix-profile/bin/nixseparatedebuginfod

[Install]
WantedBy=default.target

