# ultra_vision
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/ultra_vision_common/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/ultra_grasping/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/dependency_sort/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/request_manager/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/workspace_generator/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/workspace_extraction/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/missed_pick_recovery/src
path_add PYTHONPATH ~/catkin_ws/src/ultra_vision/pipeline_inspection_tools/src

# ros_utilities
path_add PYTHONPATH ~/catkin_ws/src/ros_utilities/src/param_utils/src
